<div class="card" style="width: 18rem;">
    <img src="./assets/images/bir 1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Chicken Biryani  200/- </h5>
      <p class="card-text">Single Biryani</p>
      <p class="card-text">Greenpark Biryani House hanamkonda</p>
      <a href="#" class="btn btn-primary">Track Order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/bir 2.jpg" class="card-img-top" alt="..."height=300px width="350px">
    <div class="card-body">
      <h5 class="card-title">Special chicken biryani 600/- </h5>
      <p class="card-text">Family pack</p>
      <p class="card-text">Shreyas Restaurent hanamkonda</p>
      <a href="#" class="btn btn-primary">Track Order</a>
    </div>
  </div>
  
<app-footer></app-footer>