<div class="card" style="width: 18rem;">
    <img src="./assets/images/tiffin 1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Idli  40/- </h5>
      <p class="card-text">Sai sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/wada.jpg" class="card-img-top" alt="..."height=300px width="350px">
    <div class="card-body">
      <h5 class="card-title">Wada  40/- </h5>
      <p class="card-text">Om sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/lemonrice.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Lemon rice  40/- </h5>
      <p class="card-text">Sai sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/upma.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Upma  40/- </h5>
      <p class="card-text">OM sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/parota.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Parota 40/- </h5>
      <p class="card-text">Sai sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/dosa.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Dosa  40/- </h5>
      <p class="card-text">Om sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/tiffin 1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Idli  40/- </h5>
      <p class="card-text">Sai sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/tiffin 1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Idli  40/- </h5>
      <p class="card-text">Sai sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/tiffin 1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Idli  40/- </h5>
      <p class="card-text">Sai sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/lemonrice.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Lemon rice  40/- </h5>
      <p class="card-text">Sai sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/parota.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Parota  50/- </h5>
      <p class="card-text">Sai sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/upma.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Upma  40/- </h5>
      <p class="card-text">Sai sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/dosa.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">dosa  40/- </h5>
      <p class="card-text">Sai sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/lemonrice.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Lemon rice  40/- </h5>
      <p class="card-text">Sai sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/parota.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Parota  50/- </h5>
      <p class="card-text">Sai sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/upma.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Upma  40/- </h5>
      <p class="card-text">Sai sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/dosa.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">dosa  40/- </h5>
      <p class="card-text">Sai sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/lemonrice.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Lemon rice  40/- </h5>
      <p class="card-text">Sai sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/parota.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Parota  50/- </h5>
      <p class="card-text">Sai sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/upma.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Upma  40/- </h5>
      <p class="card-text">Sai sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/dosa.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">dosa  40/- </h5>
      <p class="card-text">Sai sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/lemonrice.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Lemon rice  40/- </h5>
      <p class="card-text">Sai sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/parota.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Parota  50/- </h5>
      <p class="card-text">Sai sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/upma.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Upma  40/- </h5>
      <p class="card-text">Sai sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/dosa.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">dosa  40/- </h5>
      <p class="card-text">Sai sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/lemonrice.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Lemon rice  40/- </h5>
      <p class="card-text">Sai sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/parota.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Parota  50/- </h5>
      <p class="card-text">Sai sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/upma.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Upma  40/- </h5>
      <p class="card-text">Sai sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/dosa.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">dosa  40/- </h5>
      <p class="card-text">Sai sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/lemonrice.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Lemon rice  40/- </h5>
      <p class="card-text">Sai sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/parota.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Parota  50/- </h5>
      <p class="card-text">Sai sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/upma.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Upma  40/- </h5>
      <p class="card-text">Sai sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/dosa.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">dosa  40/- </h5>
      <p class="card-text">Sai sree tiffins hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <app-footer></app-footer>