<div class="card">
    <img src="./assets/images/bir 3.jpg" class="card-img-top" alt="..."width="100%">
    <div class="card-body">
      <h5 class="card-title">Chicken Biryani </h5>
      <p class="card-text">To marinate the chicken for the biryani, combine the vegetable oil, garlic, ginger, chili peppers, mint, cilantro, garam masala, cinnamon and salt in a large bowl and stir together. Add the chicken pieces and toss together making sure the chicken is thoroughly coated in the marinade. Allow the chicken to marinate for at least 1 hour or up to overnight.
        In a pot wide enough to hold the chicken in a single layer, add the ghee and onions and saute the onions until they are well caramelized (15-20 minutes). Transfer the caramelized onions to a bowl and set aside.
        Caramelized onions add a pleasant sweetness to contrast the spicy chicken in the Biryani.
        
        While the onions caramelize, prepare the rice by washing in a strainer under cold running water until the water runs clear.
        It's important to wash your rice thouroughly to rid it of any excess starch so your Biryani turns out fluffy.
        To par-boil the rice, add the water, salt, cardamom, cumin and bay leaf to a pot and bring to a boil. Add the rice and boil for 7 minutes. Drain the rice, reserving 1 cup of the liquid.
        Parboiling the rice with spices not only ensures the rice is cooked through, it infuses your biryani with tons of flavor.
        
        In the pot you caramelized the onions in, add the chicken in a single layer, skin-side down. Fry until golden brown on one side (about 5 minutes). Flip the chicken over and fry the other side until golden brown. Transfer the chicken back to the bowl you marinated it in.
        Browning the chicken for the Biryani brings out the flavors of the spices and aromatics in the marinade.
        To assemble the biryani, add the saffron to the rice and toss to distribute evenly. Add half the rice mixture to the bottom of the pot you browned the chicken in.
        Top the rice with the chicken in a single layer.
        The browned chicken gets layeed on the rice.
        
        Top the chicken with an even layer of caramelized onions.
        A layer of caramelized onions goes on top of the chicken for the Biryani.
        Finish putting together the Biryani by adding the rest of the rice in an even layer. Add 1 cup of reserved liquid from boiling the rice. Cover the pot with a lid and put the pot on the stove over medium heat and set the timer for 20 minutes. When you can see steam escaping from under the lid, turn down the heat to low and continue cooking until the timer goes off and then turn off the heat.
        
        The Biryani is finished off with a layer of saffron rice.
        Without opening the lid, set the timer for another 10 minutes to steam the biryani.
        
        Mix the Chicken Biryani together and then transfer to a serving platter. Garnish with fresh cilantro and serve.</p>
    </div>
  </div>
  <div class="card">
    <img src="./assets/images/m bir 1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mutton Biryani  </h5>
      <p class="card-text">Marinate mutton pieces with yogurt, turmeric, ginger garlic paste and little salt. Let this rest for atleast 4 hours at room temperature or overnight refrigeration is also fine. Take a big tray and line up all the ingredients needed for the preparation to make the work more easier.



        Take a pressure cooker pan, heat ghee and oil. Add whole garam masalas (Bay leaf, cloves, cinnamon, cardamom, kapok buds and star anise), let sizzle for few seconds. Add the green chili, chopped coriander and mint leaves, fry for few minutes to make them crispy.
        
        
        
        Add onions and fry for 10 minutes over medium flame. Keep sauteing until it gets dry and loses all the water content.
        
        
        When done, it should look crispy and brown. Add 1/2 tsp ginger garlic paste from Table-2 and saute for few minutes.
        
        
        Now add the mutton pieces along with the juice, chopped tomatoes and fry for 5 minutes over medium flame. Tomatoes has to become tender and the meat should look slightly browned. Add turmeric, red chili powder and coriander powder along with salt. Fry for few more minutes.
        
        
        Add the exact water measure given and close with the lid. Pressure cook for 2 whistles and switch off. Give about 15 minutes for the steam to settle and then open the cooker.
        
        
        When done, the gravy should look with oil separated and the meat must be perfectly cooked.
        
        
        Soak basmati rice for 10 minutes, wash and drain completely. Soaking time varies with the quality and brand of rice, if pressure cooking , soaking time should be very less. For rice cooker allow 15 to 20 minutes. Use the variety which you are most comfortable with.
        
        
        Add rice to the gravy, close with the lid and cook upto 2 whistles and switch off. Immediately shift the cooker from the hot burner to a different place, this reduces too much browning on the bottom of the pan. Let the steam release completely. Allow 15 minutes and then open.
        
        
        When done garnish with coriander and mint leaves. Sprinkle little orange color mixed in water (optional) and drizzle little ghee. Do not stir or mix, let it aerate for few minutes.
        
        
        Transfer the content to a wide tray and gently spread to cool. Now add the remaining ghee, coriander and mint leaves. Mixing while its hot makes the rice break easily, so let it sit for 10 minutes and then gently mix with your hands.
        
        mutton biryani
        Serve hot with boiled egg, onion raita & salna.
        
        Notes:
        Meat tenderizer: This powder is widely used in most restaurants to tenderize the meat in short time. Mostly used for dum preparations. Mine is pressure cooker version and doesn’t need any artificial tenderizers, yogurt acts as a natural meat tenderizer. You can also use plain raw papaya pulp, this is the main ingredient in store bought meat tenderizer powders.
        
        Goat Meat : Good quality meat should cook in 2 whistles. If using matured meat like lamb allow 3 to 4 whistles while cooking the meat (first step). While cooking with rice its always 2 whistles. For cooking rice, the ratio is for every 1 cup rice its 2 cups liquid. In my recipe for 2 cups rice, its 4 cups liquid (3 cups water and 1/4 yogurt + tomato onion base) for grainy texture. Add 1/4 cup extra water if you prefer the rice to be on the soft side.</p>
    </div>
  </div>
  <div class="card">
    <img src="./assets/images/f bir 1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Fish Biryani </h5>
      <p class="card-text">Make the marinade by mixing ginger, garlic, red chili powder, ground coriander, turmeric, garam masala, fenugreek leaves, salt, mint leaves, cilantro, lemon juice, and yogurt. Evenly coat both sides of the fish with the marinade. Keep in the refrigerator while preparing the rest of the ingredients (steps 1 - 2).
        steps showing fish marination 
        Rinse and soak basmati rice for 20 minutes. Drain and reserve (steps 3 - 4).
        steps showing how to soak rice  
        
        Set the Instant Pot to Saute mode and heat 2 tablespoons of ghee. Add thinly sliced onions and cook stirring frequently for 8 to 10 minutes or until the onions are caramelized. Take out half of the onion and keep aside for garnishing the Biryani (steps 5 - 6).
        steps showing caramelizing onions 
        Next, add 2 tablespoons of ghee to the Instant Pot with half of the caramelized onions already in the pot. Then, add dill and mix well deglazing the pot. Afterward, add marinated fish and jalapeño (if using). Next, add rice, 1.5 teaspoon salt, and water. Gently push all the rice under the liquids with a spatula (steps 7 - 10).
        steps showing how to make fish biryani in Instant Pot 
        
        Close the Instant Pot and turn the pressure valve to sealing. Set Instant Pot to Manual/Pressure Cook mode and adjust the time to 5 minutes. Follow with Quick release. Garnish with the remaining caramelized onions and cilantro.
        </p>
    </div>
  </div>
<app-footer></app-footer>