<div class="card" style="width: 18rem;">
    <img src="./assets/images/bir 1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Chicken Biryani  200/- </h5>
      <p class="card-text">Greenpark Biryani House hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/bir 2.jpg" class="card-img-top" alt="..."height=300px width="350px">
    <div class="card-body">
      <h5 class="card-title">Special chicken biryani 300/- </h5>
      <p class="card-text">Shreyas Restaurent hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/bir 3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Boneless Biryani 400/- </h5>
      <p class="card-text">Surabhi Biryani House hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/bir 4.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> Chicken Dum biryani 400/- </h5>
      <p class="card-text">Biryani House hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/bir 5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Special Biryani 340/- </h5>
      <p class="card-text">Greenpark Biryani House hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="./assets/images/m bir 1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mutton Biryani  250/- </h5>
      <p class="card-text">Greenpark Biryani House hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/m bir 2.jpg" class="card-img-top" alt="..."height=300px width="350px">
    <div class="card-body">
      <h5 class="card-title">Special Mutton biryani 350/- </h5>
      <p class="card-text">Shreyas Restaurent hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/m bir 3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Boneless Mutton Biryani 400/- </h5>
      <p class="card-text">Surabhi Biryani House hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/m bir 4.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> Mutton Dum biryani 450/- </h5>
      <p class="card-text">Biryani House hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/m bir 5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Special Mutton Biryani 400/- </h5>
      <p class="card-text">Greenpark Biryani House hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="./assets/images/f bir 1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Fish Biryani  200/- </h5>
      <p class="card-text">Greenpark Biryani House hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/f bir 2.jpg" class="card-img-top" alt="..."height=300px width="350px">
    <div class="card-body">
      <h5 class="card-title">Special Fish Biryani 300/- </h5>
      <p class="card-text">Shreyas Restaurent hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/f bir 3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Boneless Biryani 400/- </h5>
      <p class="card-text">Surabhi Biryani House hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/f bir 4.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> Fish Dum biryani 400/- </h5>
      <p class="card-text">Biryani House hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/f bir 5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Special Fish Biryani 40/- </h5>
      <p class="card-text">Greenpark Biryani House hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="./assets/images/bir 1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Chicken Biryani  200/- </h5>
      <p class="card-text">Greenpark Biryani House hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/bir 2.jpg" class="card-img-top" alt="..."height=300px width="350px">
    <div class="card-body">
      <h5 class="card-title">Special chicken biryani 300/- </h5>
      <p class="card-text">Shreyas Restaurent hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/bir 3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Boneless Biryani 400/- </h5>
      <p class="card-text">Surabhi Biryani House hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/bir 4.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> Chicken Dum biryani 400/- </h5>
      <p class="card-text">Biryani House hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/bir 5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Special Biryani 340/- </h5>
      <p class="card-text">Greenpark Biryani House hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="./assets/images/m bir 1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mutton Biryani  250/- </h5>
      <p class="card-text">Greenpark Biryani House hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/m bir 2.jpg" class="card-img-top" alt="..."height=300px width="350px">
    <div class="card-body">
      <h5 class="card-title">Special Mutton biryani 350/- </h5>
      <p class="card-text">Shreyas Restaurent hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/m bir 3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Boneless Mutton Biryani 400/- </h5>
      <p class="card-text">Surabhi Biryani House hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/m bir 4.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> Mutton Dum biryani 450/- </h5>
      <p class="card-text">Biryani House hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/m bir 5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Special Mutton Biryani 400/- </h5>
      <p class="card-text">Greenpark Biryani House hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="./assets/images/f bir 1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Fish Biryani  200/- </h5>
      <p class="card-text">Greenpark Biryani House hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/f bir 2.jpg" class="card-img-top" alt="..."height=300px width="350px">
    <div class="card-body">
      <h5 class="card-title">Special Fish Biryani 300/- </h5>
      <p class="card-text">Shreyas Restaurent hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/f bir 3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Boneless Biryani 400/- </h5>
      <p class="card-text">Surabhi Biryani House hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/f bir 4.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> Fish Dum biryani 400/- </h5>
      <p class="card-text">Biryani House hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/f bir 5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Special Fish Biryani 40/- </h5>
      <p class="card-text">Greenpark Biryani House hanamkonda</p>
      <a href="#" class="btn btn-primary">Place order</a>
    </div>
</div>
<app-footer></app-footer>